.contents {
	margin-bottom: 20px;
}
.navbar {
	background-color: #1a2942;
	padding: 20px;
	margin-bottom: 40px;
}
.navbar h2 a {
	font-family: 'Dosis', sans-serif;
	color: white;
	text-align: left;
}
.navbar h2 a:hover {
	text-decoration: none;
}


.heading {
	text-align: center;
	margin-bottom: 40px;
}
.heading h2 {
	font-size: 35px;
}
.heading h2 a {
	color: #1a2942;
	font-family: 'Dosis', sans-serif;
	text-decoration: underline;
}


.row_card {
	margin-top: 35px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.column_card {
	margin-left: 2.5%;
	flex: 47.5%;
	-ms-flex: 47.5%;
	max-width: 47.5%;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.column_card:hover {
	transform: scale(0.97);
	box-shadow: 5px 10px 18px #888888;
}


.pagination_btn {
	margin-top: 50px;
	text-align: center;
}
.pagination_btn ul {
	list-style: none;
}
.pagination_btn ul li {
	display: inline-block;
}
.pagination_btn ul .active button {
	background-color: #1a2942;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-size: 20px;
	height: 40px;
	width: 40px;
	border: 1px solid #1a2942;
}
.pagination_btn ul .inactive button {
	background-color: white;
	border-radius: 50%;
	text-align: center;
	color: #1a2942;
	font-size: 20px;
	height: 40px;
	width: 40px;
	border: 1px solid #1a2942;
	transition: 0.2s all ease;
	-webkit-transition: 0.2s all ease;
}
.pagination_btn ul .inactive button:hover {
	background-color: #1a2942;
	color: white;
}
.pagination_btn ul .active button:focus,  .pagination_btn ul .inactive button:focus{
	outline: none;
}
.pagination a {
	text-decoration: none;
}